# Example Environment File
# COPY THIS to .env and change the values!

# Database Configuration
DB_HOST=localhost
DB_USER=dev_user
DB_PASS=dev_password

# App Configuration
APP_COLOR=blue
APP_PORT=8080
